<app-navbar></app-navbar>
	<!-- Page content -->
	<div class="page-content">
			<app-sidebar></app-sidebar> 
    		<!-- Main content -->
		<div class="content-wrapper">
   
	  <main  [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
			<router-outlet #o="outlet" ></router-outlet>
		  </main>
      </div>
      	<!-- Main content -->
    </div>