<div id="page">
  <header class="header-register">

    <div id="logo" class="text-center">
      <a [routerLink]="['/']"   ><img src="../assets/images/logo-light.png" width="149" height="42" data-retina="true" alt=""></a>
    </div>
    <!-- End Search Menu -->
  </header>

<div class="container_gray_bg">
  <div class="container margin_60">
    <div class="row">

      <div class="login-box">
        <div class="box_style_1">
          <form *blockUI="'activate-ui'" role="form" #f="ngForm" (ngSubmit)="activate(f)">
            <div class="indent_title_in">
              <i class="pe-7s-user"></i>
              <h3>Enter activation code sent to your mail to activate your account. </h3>
              <p></p>
            </div>
            <div class="wrapper_indent">
              <div style="width:100%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12">
                    <p *ngIf="errorText"  class="alert alert-danger text-center">{{errorText}}</p>
                  </div>
                <div class="col-md-12">
                  <div class="form-group form-group-feedback form-group-feedback-left"  [ngClass]="{
                    'has-error': key.invalid && (key.dirty || key.touched),
                    'has-success': key.valid && (key.dirty || key.touched)
                }">
        
                        <input type="text" class="form-control" name="key" placeholder="xxxxx" [(ngModel)]="model.key"
                               required #key="ngModel">
                        <div class="form-control-feedback">
                          <i class="icon-lock text-muted"></i>
                        </div>
                        <div class="help-block" *ngIf="key.errors && (key.dirty || key.touched)">
                          <p *ngIf="key.errors.required">Field is required</p>
                         
                        </div>
                      </div>
        
                      
                </div>
                
              </div>
              </div><!-- End row -->


            </div>


            <hr class="styled_2">

            <div class="wrapper_indent">

              <p align="right"><button type="submit"  class="btn btn-primary">Activate</button></p>
            </div>
          </form>
        </div>
      </div>

    </div><!--End row -->
  </div><!--End container -->
</div><!--End container_gray_bg -->

</div>