<!-- Content area -->
<div class="content">

  <!-- Inner container -->
  <div class="d-flex align-items-start flex-column flex-md-row">

    <!-- Left content -->
    <div class="w-100 overflow-auto order-2 order-md-1">

      <!-- Course overview -->
      <div class="card">
        <div class="card-header header-elements-md-inline">
          <h5 class="card-title">{{detail?.coursename}}</h5>

          <div class="header-elements">
            <ul class="list-inline list-inline-dotted mb-0 mt-2 mt-md-0">
              <li class="list-inline-item">Rating: <span class="font-weight-semibold">4.85</span></li>
              <li class="list-inline-item">
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <i class="icon-star-full2 font-size-base text-warning-300"></i>
                <span class="text-muted ml-1">(439)</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="nav-tabs-responsive bg-light border-top">
          <ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
            <li class="nav-item"><a href="#course-overview" class="nav-link active" data-toggle="tab"><i class="icon-menu7 mr-2"></i> Overview</a></li>
            <li class="nav-item"><a href="#course-attendees"  class="nav-link" data-toggle="tab"><i class="icon-people mr-2"></i> Attendees</a></li>
            <li class="nav-item"><a href="#course-schedule" class="nav-link" data-toggle="tab"><i class="icon-calendar3 mr-2"></i> Schedule</a></li>
          </ul>
        </div>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="course-overview">
            <div class="card-body">
              <div class="mt-1 mb-4">
                <h6 class="font-weight-semibold">Course overview</h6>
                <p>{{detail?.coursedescription}}</p>
              </div>



            </div>
          </div>

          <div class="tab-pane fade" id="course-attendees">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-body">
                    <div class="media">
                      <div class="mr-3">
                        <a href="#">
                          <img src="../../../../assets/images/demo/users/face11.jpg" class="rounded-circle" width="42" height="42" alt="">
                        </a>
                      </div>

                      <div class="media-body">
                        <h6 class="mb-0">jhhj</h6>
                        <span class="text-muted">jhuyhj</span>
                      </div>

                      <div class="ml-3 align-self-center">
                        <div class="list-icons">
                          <div class="list-icons-item dropdown">
                            <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu7"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Start chat</a>
                              <a href="tel:" class="dropdown-item"><i class="icon-phone2"></i> Make a call</a>
                              <a href="#" class="dropdown-item"><i class="icon-mail5"></i> Send mail</a>
                              <div class="dropdown-divider"></div>
                              <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Statistics</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>



              <div class="d-flex justify-content-center mt-3 mb-3">
                <ul class="pagination">
                  <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
                  <li class="page-item active"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="course-schedule">
            <div class="card-body">
              <div class="schedule"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /course overview -->


      <!-- About author -->
      <div class="card">
        <div class="card-header header-elements-inline">
          <h5 class="card-title">About the author</h5>

          <div class="header-elements">
            <div class="list-icons list-icons-extended">
              <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="Google Drive"><i class="icon-google-drive"></i></a>
              <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="Twitter"><i class="icon-twitter"></i></a>
              <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="Github"><i class="icon-github"></i></a>
              <a href="#" class="list-icons-item" data-popup="tooltip" data-container="body" title="Linked In"><i class="icon-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="media card-body flex-column flex-md-row m-0">
          <div class="mr-md-3 mb-2 mb-md-0">
            <a href="#">
              <img src="../../../../global_assets/images/demo/users/face1.jpg" class="rounded-circle" width="64" height="64" alt="">
            </a>
          </div>

          <div class="media-body">
            <h6 class="media-title font-weight-semibold">James Alexander</h6>
            <p>So slit more darn hey well wore submissive savage this shark aardvark fumed thoughtfully much drank when angelfish so outgrew some alas vigorously therefore warthog superb less oh groundhog less alas gibbered barked some hey despicably with aesthetic hamster jay by luckily</p>

            <ul class="list-inline list-inline-dotted mb-0">
              <li class="list-inline-item"><a href="#">Author profile</a></li>
              <li class="list-inline-item"><a href="#">All courses by James</a></li>
              <li class="list-inline-item"><a href="#">http://website.com</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /about author -->


      <!-- Discussion -->
      <div class="card">
        <div class="card-header header-elements-sm-inline">
          <h6 class="card-title font-weight-semibold">Discussion</h6>
          <div class="header-elements">
            <ul class="list-inline list-inline-dotted text-muted mb-0">
              <li class="list-inline-item">42 comments</li>
              <li class="list-inline-item">75 pending review</li>
            </ul>
          </div>
        </div>

        <div class="card-body">
          <ul class="media-list">
            <li class="media flex-column flex-md-row">
              <div class="mr-md-3 mb-2 mb-md-0">
                <a href="#"><img src="../../../../global_assets/images/demo/users/face2.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
              </div>

              <div class="media-body">
                <div class="media-title">
                  <a href="#" class="font-weight-semibold">William Jennings</a>
                  <span class="text-muted ml-3">Just now</span>
                </div>

                <p>He moonlight difficult engrossed an it sportsmen. Interested has all devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to.</p>

                <ul class="list-inline list-inline-dotted font-size-sm">
                  <li class="list-inline-item">114 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                  <li class="list-inline-item"><a href="#">Reply</a></li>
                  <li class="list-inline-item"><a href="#">Edit</a></li>
                </ul>
              </div>
            </li>

            <li class="media flex-column flex-md-row">
              <div class="mr-md-3 mb-2 mb-md-0">
                <a href="#"><img src="../../../../global_assets/images/demo/users/face3.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
              </div>

              <div class="media-body">
                <div class="media-title">
                  <a href="#" class="font-weight-semibold">Margo Baker</a>
                  <span class="text-muted ml-3">5 minutes ago</span>
                </div>

                <p>Place voice no arise along to. Parlors waiting so against me no. Wishing calling are warrant settled was luckily. Express besides it present if at an opinion visitor.</p>

                <ul class="list-inline list-inline-dotted font-size-sm">
                  <li class="list-inline-item">90 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                  <li class="list-inline-item"><a href="#">Reply</a></li>
                  <li class="list-inline-item"><a href="#">Edit</a></li>
                </ul>
              </div>
            </li>

            <li class="media flex-column flex-md-row">
              <div class="mr-md-3 mb-2 mb-md-0">
                <a href="#"><img src="../../../../global_assets/images/demo/users/face1.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
              </div>

              <div class="media-body">
                <div class="media-title">
                  <a href="#" class="font-weight-semibold">James Alexander</a>
                  <span class="text-muted ml-3">7 minutes ago</span>
                </div>

                <p>Savings her pleased are several started females met. Short her not among being any. Thing of judge fruit charm views do. Miles mr an forty along as he.</p>

                <ul class="list-inline list-inline-dotted font-size-sm">
                  <li class="list-inline-item">70 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                  <li class="list-inline-item"><a href="#">Reply</a></li>
                  <li class="list-inline-item"><a href="#">Edit</a></li>
                </ul>

                <div class="media flex-column flex-md-row">
                  <div class="mr-md-3 mb-2 mb-md-0">
                    <a href="#"><img src="../../../../global_assets/images/demo/users/face9.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
                  </div>

                  <div class="media-body">
                    <div class="media-title">
                      <a href="#" class="font-weight-semibold">Jack Cooper</a>
                      <span class="text-muted ml-3">10 minutes ago</span>
                    </div>

                    <p>She education get middleton day agreement performed preserved unwilling. Do however as pleased offence outward beloved by present. By outward neither he so covered.</p>

                    <ul class="list-inline list-inline-dotted font-size-sm">
                      <li class="list-inline-item">67 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                      <li class="list-inline-item"><a href="#">Reply</a></li>
                      <li class="list-inline-item"><a href="#">Edit</a></li>
                    </ul>

                    <div class="media flex-column flex-md-row">
                      <div class="mr-md-3 mb-2 mb-md-0">
                        <a href="#"><img src="../../../../global_assets/images/demo/users/face11.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
                      </div>

                      <div class="media-body">
                        <div class="media-title">
                          <a href="#" class="font-weight-semibold">Natalie Wallace</a>
                          <span class="text-muted ml-3">1 hour ago</span>
                        </div>

                        <p>Juvenile proposal betrayed he an informed weddings followed. Precaution day see imprudence sympathize principles. At full leaf give quit to in they up.</p>

                        <ul class="list-inline list-inline-dotted font-size-sm">
                          <li class="list-inline-item">54 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                          <li class="list-inline-item"><a href="#">Reply</a></li>
                          <li class="list-inline-item"><a href="#">Edit</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="media flex-column flex-md-row">
                      <div class="mr-md-3 mb-2 mb-md-0">
                        <a href="#"><img src="../../../../global_assets/images/demo/users/face13.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
                      </div>

                      <div class="media-body">
                        <div class="media-title">
                          <a href="#" class="font-weight-semibold">Nicolette Grey</a>
                          <span class="text-muted ml-3">2 hours ago</span>
                        </div>

                        <p>Although moreover mistaken kindness me feelings do be marianne. Son over own nay with tell they cold upon are. Cordial village and settled she ability law herself.</p>

                        <ul class="list-inline list-inline-dotted font-size-sm">
                          <li class="list-inline-item">41 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                          <li class="list-inline-item"><a href="#">Reply</a></li>
                          <li class="list-inline-item"><a href="#">Edit</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="media flex-column flex-md-row">
              <div class="mr-md-3 mb-2 mb-md-0">
                <a href="#"><img src="../../../../global_assets/images/demo/users/face4.jpg" class="rounded-circle" width="38" height="38" alt=""></a>
              </div>

              <div class="media-body">
                <div class="media-title">
                  <a href="#" class="font-weight-semibold">Victoria Johnson</a>
                  <span class="text-muted ml-3">3 hours ago</span>
                </div>

                <p>Finished why bringing but sir bachelor unpacked any thoughts. Unpleasing unsatiable particular inquietude did nor sir.</p>

                <ul class="list-inline list-inline-dotted font-size-sm">
                  <li class="list-inline-item">32 <a href="#"><i class="icon-arrow-up22 text-success"></i></a><a href="#"><i class="icon-arrow-down22 text-danger"></i></a></li>
                  <li class="list-inline-item"><a href="#">Reply</a></li>
                  <li class="list-inline-item"><a href="#">Edit</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <hr class="m-0">

        <div class="card-body">
          <h6 class="mb-3">Add comment</h6>
          <div class="mb-3">
            <div id="add-comment">Get his declared appetite distance his together now families. Friends am himself at on norland it viewing. Suspected elsewhere you belonging continued commanded she...</div>
          </div>

          <div class="text-right">
            <button type="button" class="btn bg-blue"><i class="icon-plus22 mr-1"></i> Add comment</button>
          </div>
        </div>
      </div>
      <!-- /discussion -->

    </div>
    <!-- /left content -->


  </div>
  <!-- /inner container -->

</div>
<!-- /content area -->
