<div class="content">
  <div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
       <i class="fa fa-home"></i> Home
    </h6>
    <span class="text-muted d-block">Dashboard</span>
  </div>

  <!-- <div class="row">
    <div class="col-sm-6 col-xl-3">
      <div class="card card-body">
        <div class="media">
          <div class="mr-3 align-self-center">
            <i class="icon-pointer icon-3x text-success-400"></i>
          </div>

          <div class="media-body text-right">
            <h3 class="font-weight-semibold mb-0">652,549</h3>
            <span class="text-uppercase font-size-sm text-muted">total clicks</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xl-3">
      <div class="card card-body">
        <div class="media">
          <div class="mr-3 align-self-center">
            <i class="icon-enter6 icon-3x text-indigo-400"></i>
          </div>

          <div class="media-body text-right">
            <h3 class="font-weight-semibold mb-0">245,382</h3>
            <span class="text-uppercase font-size-sm text-muted">total visits</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xl-3">
      <div class="card card-body">
        <div class="media">
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">54,390</h3>
            <span class="text-uppercase font-size-sm text-muted">total comments</span>
          </div>

          <div class="ml-3 align-self-center">
            <i class="icon-bubbles4 icon-3x text-blue-400"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-xl-3">
      <div class="card card-body">
        <div class="media">
          <div class="media-body">
            <h3 class="font-weight-semibold mb-0">389,438</h3>
            <span class="text-uppercase font-size-sm text-muted">total orders</span>
          </div>

          <div class="ml-3 align-self-center">
            <i class="icon-bag icon-3x text-danger-400"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->


    <!-- Inner container -->
    <div class="d-md-flex align-items-md-start">
      <!-- Right content -->
      <div class="flex-fill overflow-auto">

        <!-- List layout -->
        <div class="card">
          <div class="card-header bg-white header-elements-inline">
            <h6 class="card-title">CURRENT ENROLLMENTS</h6>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
              </div>
            </div>
          </div>

          <ul class="media-list">
            <li class="media card-body flex-column flex-sm-row" *ngFor="let item of items; let i=index">
              <div class="mr-sm-3 mb-2 mb-sm-0">
                <a href="#">
                  <img [src]="url+item.course.course_banner" class="rounded" width="50" height="50" alt="">
                </a>
              </div>

              <div class="media-body">
                <h6 class="media-title font-weight-semibold">
                  <a [routerLink]="['/classroom/course/lesson',item.course.course_resource,item.course.coursecode, 'tutorroom']" routerLinkActive="router-link-active" >{{item.course.coursename}}</a>
                </h6>

                <ul class="list-inline list-inline-dotted text-muted mb-2">
                  <li class="list-inline-item">0% Complete</li>
                </ul>
                   <p>{{item.course.coursedescription}}</p>
                </div>
 
 

              <div class="d-sm-flex">
							 
       <div class="ml-sm-3 mt-2 mt-sm-0">
           <a class="btn btn-primary" [routerLink]="['/classroom/course/lesson',item.course.course_resource,item.course.coursecode, 'tutorroom']" routerLinkActive="router-link-active">Continue Lesson <i class="icon icon-arrow-right8"></i></a>
              
									</div>
								</div>
            </li>
          </ul>
        </div>
        <!-- /list layout -->


        <!-- Pagination -->
        <!-- <div class="d-flex justify-content-center pt-3 mb-3">
          <ul class="pagination">
            <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
            <li class="page-item active"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
          </ul>
        </div> -->
        <!-- /pagination -->

      </div>
      <!-- /right content -->

    </div>
    <!-- /inner container -->

  </div>

