<div class="page-header page-header-light">
  <div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
      <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Course</span> - List</h4>
      <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>

    <div class="header-elements d-none">
      <div class="d-flex justify-content-center">
          
        <a href="#" (click)="loadFormData()" data-toggle="modal" data-target="#modalcourse" class="btn btn-link btn-float text-default"><i class="icon-file-text2 text-primary"></i><span>New Course</span></a>
         
      </div>
    </div>
  </div>

  <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
    <div class="d-flex">
      <div class="breadcrumb">
        <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
         
        <span class="breadcrumb-item active">Courses</span>
      </div>

      <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>

    <div class="header-elements d-none">
      <div class="breadcrumb justify-content-center">
        <a href="mailto:ulearncommune@gmail.com" class="breadcrumb-elements-item">
          <i class="icon-comment-discussion mr-2"></i>
          Support
        </a>

        
      </div>
    </div>
  </div>
</div>
<!-- Content area -->
<div class="content">

  <!-- Inner container -->
  <div class="d-flex align-items-start flex-column flex-md-row">

    <!-- Left content -->
    <div class="w-100 overflow-auto order-2 order-md-1">
      <button type="button" (click)="loadFormData()" data-toggle="modal" data-target="#modalcourse" class="btn bg-teal-400 btn-labeled btn-labeled-left rounded-round"><b><i class="icon-file-text2"></i></b>Add Course</button>
<br/><br/>
      <!-- Vertical cards -->
      <div class="row">

        <div class="col-lg-4" *ngFor="let item of courses; let i = index">
           <div class="card">
            <div class="card-img-actions mx-1 mt-1">
              <a href="#course_preview" (click)="getPlaylist(item.course_resource)" data-toggle="modal">
                <img [src]="url+item.course_banner" class="img-fluid card-img" alt="">
                <span class="card-img-actions-overlay card-img"><i class="icon-play3 icon-2x"></i></span>
              </a>

            </div>

            <div class="card-body">
              <div class="mb-3">
                <h6 class="d-flex font-weight-semibold flex-nowrap mb-0">
                  <a [routerLink]="['/admin/course', item.coursecode, 'details']" class="text-default mr-2">{{item.coursename}}</a>
                  <span class="text-success ml-auto"><i class="icon-check2"></i> </span>
                </h6>

                <ul class="list-inline list-inline-dotted text-muted mb-0">
                  <li class="list-inline-item"> <a href="#" class="text-muted">{{item.path.pathname}} | {{item.level.level_name}}</a></li>
                  <li class="list-inline-item">{{item.created_at | date:'medium'}}</li>
                </ul>
              </div>


            </div>


          </div>
        </div>


      </div>

      <!-- /vertical cards -->


      <!-- Pagination -->
      <div class="d-flex justify-content-center mt-3 mb-3">
        <ul class="pagination">
          <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
        </ul>
      </div>
      <!-- /pagination -->

    </div>
    <!-- /left content -->


    <!-- Right sidebar component -->
    <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

      <!-- Sidebar content -->
      <div class="sidebar-content">

        <!-- Find course -->
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <span class="text-uppercase font-size-sm font-weight-semibold">Find course</span>
            <div class="header-elements">
              <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                      </div>
                    </div>
          </div>

          <div class="card-body">
            <form class="mb-3" action="#">
              <div class="form-group form-group-feedback form-group-feedback-right">
                <input type="search" class="form-control" placeholder="Type and hit Enter">
                <div class="form-control-feedback">
                  <i class="icon-search4 font-size-base text-muted"></i>
                </div>
              </div>
            </form>

            <form action="#">
              <div class="form-group">
                <div class="font-size-xs text-uppercase text-muted mb-3">Categories</div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Development
                    <span class="text-muted ml-1">(83)</span>
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Design
                    <span class="text-muted ml-1">(92)</span>
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Management
                    <span class="text-muted ml-1">(36)</span>
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Finances
                    <span class="text-muted ml-1">(50)</span>
                  </label>
                </div>
              </div>





              <button type="submit" class="btn bg-blue btn-block">
                <i class="icon-filter4 mr-2"></i>
                Filter
              </button>
            </form>
          </div>
        </div>
        <!-- /find course -->


        <!-- Categories -->
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <span class="text-uppercase font-size-sm font-weight-semibold">Categories</span>
            <div class="header-elements">
              <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                      </div>
                    </div>
          </div>

          <div class="card-body p-0">
            <div class="nav nav-sidebar mb-2">
              <li class="nav-item-header font-size-xs text-uppercase">Development</li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Frontend development
                  <span class="badge badge-secondary badge-pill ml-auto">37</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Backend development
                  <span class="badge badge-secondary badge-pill ml-auto">58</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Engineering
                  <span class="badge badge-secondary badge-pill ml-auto">39</span>
                </a>
              </li>

              <li class="nav-item-header font-size-xs text-uppercase">Design</li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Interface design
                  <span class="badge badge-secondary badge-pill ml-auto">21</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  User experience
                  <span class="badge badge-secondary badge-pill ml-auto">10</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Web design
                  <span class="badge badge-secondary badge-pill ml-auto">26</span>
                </a>
              </li>
            </div>
          </div>
        </div>
        <!-- /categories -->







      </div>
      <!-- /sidebar content -->

    </div>
    <!-- /right sidebar component -->

  </div>
  <!-- /inner container -->

</div>
<!-- /content area -->

<!--Add Course Modal-->
<div id="modalcourse" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Course</h5>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <form [formGroup]="courseform" (ngSubmit)="createCourse()">
        <div class="modal-body">
            <div class="col-md-12">
              <div class="loader-container" *ngIf="waiting">
                <ul-loader [loaderSize]="'40px'"></ul-loader>
              </div>
                <div *ngIf="errorText" class="alert alert-danger"><i class="fa fa-times"></i> {{errorText}}</div>
              </div>


              <div class="col-sm-12">
                  <div class="form-group" [ngClass]="{'has-error': courseform.get('coursename').errors && courseform.get('coursename').touched}">
                <label>Course Name</label>
                <input type="text" formControlName="coursename" placeholder="Course Name" class="form-control">

                <small class="help-block text-danger" *ngIf="courseform.get('coursename').hasError('required') && courseform.get('coursename').touched">
                    This field can't be blank
                  </small>
                  </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group" [ngClass]="{'has-error': courseform.get('level').errors && courseform.get('level').touched}">
                  <label>Level</label>
                  <select class="form-control" formControlName="level">
                    <option *ngFor="let item of levels; let i=index" value={{item.id}}>
                      {{item.level_name}}
                    </option>
                  </select>
                  <small class="help-block text-danger" *ngIf="courseform.get('level').hasError('required') && courseform.get('level').touched">
                      This field can't be blank
                    </small>
                    </div>
               </div>
               <div class="col-sm-12">
                <div class="form-group" [ngClass]="{'has-error': courseform.get('path').errors && courseform.get('path').touched}">
                  <label>Path</label>
                  <select  class="form-control" formControlName="path">
                    <option *ngFor="let item of paths; let i=index" value="{{item.id}}">
                        {{item.pathname}}
                    </option>
                  </select>
                  <small class="help-block text-danger" *ngIf="courseform.get('path').hasError('required') && courseform.get('path').touched">
                      This field can't be blank
                    </small>
                    </div>
               </div>
              <div class="col-sm-12">
                <div class="form-group" [ngClass]="{'has-error': courseform.get('resource').errors && courseform.get('resource').touched}">
                <label>Youtube Playlists ID</label>

                <input type="text" formControlName="resource" placeholder="Playlist ID" class="form-control"/>
                <small class="help-block text-danger" *ngIf="courseform.get('resource').hasError('required') && courseform.get('resource').touched">
                  This field can't be blank
                </small>
              </div>
              </div>

               <div class="col-sm-12">
                <div class="form-group">
									<label>Course Poster</label>
										<input type="file" class="form-control" id="coursethumbnail" (change)="onFileChange($event)" #courseposter>
								</div>
               </div>


              <div class="col-sm-12">
                <div class="form-group" [ngClass]="{'has-error': courseform.get('description').errors && courseform.get('description').touched}">
                <label>Course Description</label>
                <input type="text" formControlName="description" placeholder="Course Description" class="form-control">
                  <small class="help-block text-danger" *ngIf="courseform.get('description').hasError('required') && courseform.get('description').touched">
                    This field can't be blank
                  </small>
                </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <button type="submit" [disabled]="!courseform.valid" class="btn bg-primary">Submit form</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--/Add Course Modal-->

<!-- Course preview modal -->
<div class="modal fade" id="course_preview" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Course preview</h6>
        <button type="button" (click)="closeCloneModal()" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="yurl" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="closeCloneModal()" class="btn btn-light" data-dismiss="modal">Close</button>
     
      </div>
    </div>
  </div>
</div>
<!-- /course preview modal -->
