#error_page {
    width: 100%;
    height: -webkit-fill-available !important;
display: flex;
flex-direction: column;
justify-content: center;
background: #edeff1;
color: #fff;
}

@media (max-width: 767px){
    #error_page {
        padding: 0;
        height: -webkit-fill-available;
        }
}


#error_page h2 i {
color: #60a595;
}

#error_page p {
font-size: 21px;
font-size: 1.3125rem;
color: #545a61;
}