<div id="error_page">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-7 col-lg-9">
        <h2><i class="icon_check_alt"></i></h2>
        <p>Well done!!! We are glad you made it. Kindly keep in touch with your email for further steps.</p>
       <button class="btn btn-primary" (click)="goTo('/')"><i class="icon_house"></i>  Go To Home </button>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>