<!-- Content area -->
<div class="content">

  <!-- Customers -->
  <div class="card">
    <div class="card-header header-elements-inline">
      <h6 class="card-title"><i class="icon-users icon-2x"></i>  Users</h6>
      <div class="header-elements">
        <div class="list-icons">
                  <a class="list-icons-item" data-action="collapse"></a>
                  <a class="list-icons-item" data-action="reload"></a>
                  <a class="list-icons-item" data-action="remove"></a>
                </div>
              </div>
    </div>

    <div class="card-body">

      <div class="table-responsive">
          <div class="loader-container" *ngIf="waiting">
              <ul-loader [loaderSize]="'150px'"></ul-loader>
            </div>
        <table *ngIf="!waiting" class="table table-striped text-nowrap table-customers">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of mentors; let i=index">
                <td>{{i + 1}}</td>
                <td>
                  <div class="media">
                    <div class="mr-3">
                      <a>
                        <img src="./assets/images/demo/users/face1.jpg" width="40" height="40" class="rounded-circle" alt="">
                      </a>
                    </div>

                    <div class="media-body align-self-center">
                      <a  class="font-weight-semibold">{{item.user.name}}</a>
                      <div class="text-muted font-size-sm">
                        Date Registered: {{item.created_at}}
                      </div>
                    </div>
                  </div>
                </td>

                <td><a href="#">{{item.user.email}}</a></td>
                <td>{{item.user.phone}}</td>
                <td>Mentor</td>
                <td>
                  <ul class="list-unstyled mb-0">
                    <li *ngIf="item.isApproved == '0'">
                      <i class="icon-infinite font-size-base text-warning mr-2"></i>
                      <span class="badge badge-pill badge-danger">Inactive</span>
                    </li>

                    <li *ngIf="item.isApproved == '1'">
                      <i class="icon-checkmark3 font-size-base text-success mr-2"></i>
                     Active:

                    </li>
                  </ul>
                </td>
              <td class="pl-0"></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

  </div>
  <!-- /customers -->

</div>
<!-- /content area -->
