<form role="form" *ngIf="filter" class="form-horizontal">
  <div class="row">
      <div class="col-sm-12 col-md-3">
          <div class="form-group">
              <label>Name </label>
              <input type="text" placeholder="Name" class="form-control">
          </div>
      </div>
      <div class="col-sm-12 col-md-3" *ngIf="isUserType">
          <div class="form-group">
              <label>User Type </label>
             <select class="form-control">
               <option>Select User Type</option>
             </select>
          </div>
      </div>
      <div class="col-sm-12 col-md-3">
          <div class="form-group">
              <label>Status </label>
              <select class="form-control">
                  <option>Status</option>
                  <option>Active</option>
                  <option>Inactive</option>
                </select>
          </div>
      </div>

      <div class="col-sm-12 col-md-3">
          <div class="form-group">
              <label>Email </label>
              <input type="text" placeholder="Email" class="form-control">
          </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label>Date From </label>
          <div class="input-group">
             
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="df"  ngbDatepicker  #df="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-default calendar" (click)="df.toggle()" type="button"><i class="fa fa-calendar"></i></button>
              </div>
            </div>
            </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
            <label>Date To </label>
            <div class="input-group">
              
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dt"  ngbDatepicker  #dt="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-default calendar" (click)="dt.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                </div>
              </div>
        </div>
        
      </div>
    
    </div>
     
    <div class="clearfix">
        <button type="submit" class="btn btn-sm pull-right btn-primary">Reset </button>
        <button type="submit" class="btn btn-sm pull-right btn-primary">Search</button>
    </div>
   
   
</form>