<!-- Content area -->
			<div class="content">

				<!-- Customers -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h6 class="card-title"><i class="icon-users icon-2x"></i>  Users</h6>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
            </div>
           
					</div>

					<div class="card-body">
            
                <div class="col-md-2 float-left">
                    <select class="form-control" (change)="getUsers()" [(ngModel)]="role" name="role">
                      <option *ngFor="let role of roles" value="{{role.id}}">{{role.rolename}}</option>
                    </select>
                  </div>
                  <div class="col-md-3 float-right">
                    <button type="button" (click)="activateAccounts()" class="btn btn-primary btn-sm">Activate Accounts</button>
                  </div>
            
             
            <div class="table-responsive">
                <div class="loader-container" *ngIf="waiting">
                    <ul-loader [loaderSize]="'150px'"></ul-loader>
                  </div>
              <table *ngIf="!waiting" class="table table-striped text-nowrap table-customers">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <!-- <th><input type="checkbox" (change)="checkAll($event)" name="selectAll" [(ngModel)]="selectAll"/></th> -->
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Role</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let item of users; let i=index">
                      <td>{{i + 1}}</td>
                      <!-- <td><input type="checkbox" (change)="toggleCheck($event)" value="{{i+1}}" name="{{i+1}}" [(ngModel)]="selected"/></td> -->
                      <td>
                        <div class="media">
                          <div class="mr-3">
                            <a>
                              <img src="./assets/images/demo/users/face1.jpg" width="40" height="40" class="rounded-circle" alt="">
                            </a>
                          </div>

                          <div class="media-body align-self-center">
                            <a  class="font-weight-semibold">{{item.name}}</a>
                            <div class="text-muted font-size-sm">
                              Date Registered: {{item.created_at}}
                            </div>
                          </div>
                        </div>
                      </td>

                      <td><a href="#">{{item.email}}</a></td>
                      <td>{{item.phone}}</td>
                      <td>{{item.role.rolename}}</td>
                      <td>
                        <ul class="list-unstyled mb-0">
                          <li *ngIf="item.isActive == '0'">
                            <i class="icon-infinite font-size-base text-warning mr-2"></i>
                            <span class="badge badge-pill badge-danger">Inactive</span>
                          </li>

                          <li *ngIf="item.isActive == '1'">
                            <i class="icon-checkmark3 font-size-base text-success mr-2"></i>
                            <span class="badge badge-pill badge-success">Active</span>

                          </li>
                        </ul>
                      </td>
                    <td>
                      <a [routerLink]="['/admin/assignmentor']" ngbTooltip="Assign Mentor"  class="btn bg-purple-300 btn-sm text-pink-800 btn-icon rounded-round ml-2" routerLinkActive="router-link-active" ><i class="icon-link"></i></a>
                      
                        <!-- <div class="btn-group">
			                    	<button type="button" class="btn bg-purple-300 btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				                    	<i class="icon-link"></i>
			                    	</button>

			                    	<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(56px, 36px, 0px);">
										<a href="#" class="dropdown-item"><i class="icon-menu7"></i> Action</a>
										<a href="#" class="dropdown-item"><i class="icon-screen-full"></i> Another action</a>
										<a href="#" class="dropdown-item"><i class="icon-mail5"></i> One more action</a>
										<div class="dropdown-divider"></div>
										<a href="#" class="dropdown-item"><i class="icon-gear"></i> Separated line</a>
									</div>
								</div> -->
                    </td>
                    </tr>
                  </tbody>
                </table>
            </div>
					</div>

				</div>
				<!-- /customers -->

			</div>
			<!-- /content area -->
