.margin_60 {
    padding-bottom: 60px;
}

.add_top_60, .margin_60 {
    padding-top: 60px;
}
.box_style_1, a.box_style_1 {
    background-color: #fff;
    box-shadow: 0 3px 0 0 #f0f2f4;
    margin-bottom: 30px;
    border-radius: 3px;
    display: block;
    padding: 30px 30px 10px;
    color: #444;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.indent_title_in {
    position: relative;
    padding-left: 80px;
    margin-bottom: 20px;
}
.indent_title_in i {
    font-size: 50px;
    position: absolute;
    left: 0;
    color: #622960;
    top: 0;
}
.wrapper_indent {
    padding-left: 19px;
}
hr {
    margin: 30px 0;
    border-color: #ededed;
}
.radio_inline {
    padding-top: 10px;
    position: relative;
}
.iradio_square-blue.checked {
    background-position: -168px 0;
}
.iradio_square-blue {
    background-position: -120px 0;
}
.icheckbox_square-blue, .iradio_square-blue {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
}
header.header-register{
    transition: all .3s ease-in-out;
    background: #480048;
    background: linear-gradient(to right,#133a63,#0d2e50) !important;
    padding: 15px 20px;
}
.login-box{
    margin: 70px auto 0px;
    max-width: 500px;
    width: 100%;
}

.form-group-feedback-left .form-control {
    padding-left: 2.75rem;
    padding-top: 22px;
    padding-bottom: 22px;
}

@media (max-width: 767px){
    header.header-register{
        padding: 25px 20px;
    }
}

@media(max-width:991px){
    header.header-register{
        padding: 25px 20px;
    }
}