	<div id="page">
		<header class="header-register">
	
			<div id="logo" class="text-center">
				<a [routerLink]="['/']"   ><img src="../assets/images/logo-light.png" width="149" height="42" data-retina="true" alt=""></a>
			  </div>
			<!-- End Search Menu -->
		</header>
	
	<div class="container_gray_bg">
		<div class="container margin_60">
			<div class="row">
	
				<div class="login-box">
					<div class="box_style_1">
						<form *blockUI="'login-ui'" role="form" #f="ngForm" (ngSubmit)="signIn(f)">
							<div class="indent_title_in">
							 
								<h3>Sign in to your account</h3>
								<p></p>
							</div>
							<div class="wrapper_indent">
								<div style="width:100%;">
									<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="col-md-12">
											<p *ngIf="errorText"  class="alert alert-danger text-center">{{errorText}}</p>
										</div>
									<div class="col-md-12">
										<div class="form-group form-group-feedback form-group-feedback-left"  [ngClass]="{
											'has-error': email.invalid && (email.dirty || email.touched),
											'has-success': email.valid && (email.dirty || email.touched)
									}">
					
													<input type="email" class="form-control" name="email" placeholder="designation@companyname.com" [(ngModel)]="auth.email"
																 required #email="ngModel" pattern="[^ @]*@[^ @]*">
													<div class="form-control-feedback">
														<i class="icon-user text-muted"></i>
													</div>
													<div class="help-block" *ngIf="email.errors && (email.dirty || email.touched)">
														<p *ngIf="email.errors.required">Email is required</p>
														<p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
													</div>
												</div>
					
												
									</div>
									<div class="col-md-12">
										<div class="form-group form-group-feedback form-group-feedback-left"  [ngClass]="{
											'has-error': password.invalid && (password.dirty || password.touched),
											 'has-success': password.valid && (password.dirty || password.touched)}">
												 <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="auth.password"
																required #password="ngModel">
												 <div class="form-control-feedback">
													 <i class="icon-lock text-muted"></i>
												 </div>
												 <div class="help-block" *ngIf="password.errors && (password.dirty || password.touched)">
													 <p *ngIf="password.errors.required">Password is required</p>
				 
												 </div>
											 </div>
									</div>
								</div>
								</div><!-- End row -->
	
	
							</div>
	
	
							<hr class="styled_2">
	
							<div class="wrapper_indent">
	
								<p align="right"><button type="submit"  class="btn btn-primary">Sign in</button></p>
							</div>
						</form>
					</div>
				</div>
	
			</div><!--End row -->
		</div><!--End container -->
	</div><!--End container_gray_bg -->
	
	</div>