<!-- Content area -->
<div class="content">

  <!-- Inner container -->
  <div class="d-flex align-items-start flex-column flex-md-row">

    <!-- Left content -->
    <div class="w-100 overflow-auto order-2 order-md-1">
<app-alert-component *ngIf="showalert" [type]="isError" [message]="errorText"></app-alert-component>
      <!-- Vertical cards -->
      <div class="row">

        <div class="col-lg-4" *ngFor="let item of courses; let i = index">
          <div class="card">
            <div class="card-img-actions mx-1 mt-1">
              <a href="#course_preview" (click)="getPlaylist(item.course_resource)" data-toggle="modal">
                <img [src]="url+item.course_banner" class="img-fluid card-img" alt="">
                <span class="card-img-actions-overlay card-img"><i class="icon-play3 icon-2x"></i></span>
              </a>

            </div>

            <div class="card-body">
              <div class="mb-3">
                <h6 class="d-flex font-weight-semibold flex-nowrap mb-0">
                  <a [routerLink]="['/classroom/course', item.coursecode, 'details']" class="text-default mr-2">{{item.coursename}}</a>
                  <span class="text-success ml-auto"><i class="icon-check2"></i> </span>
                </h6>

                <ul class="list-inline list-inline-dotted text-muted mb-0">
                  <li class="list-inline-item"> <a href="#" class="text-muted">{{item.path.pathname}} | {{item.level.level_name}}</a></li>
                  <li class="list-inline-item">{{item.created_at | date:'medium'}}</li>
                </ul>

              </div>


            </div>
            <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">


              <div class="mt-2 mt-sm-0 ">
                <a href="#" (click)="takeCourse(item.id)" ><i class="icon-checkmark3 font-size-base mr-2"></i> Take course</a>
              </div>
            </div>

          </div>
        </div>


      </div>

      <!-- /vertical cards -->


      <!-- Pagination -->
      <!-- <div class="d-flex justify-content-center mt-3 mb-3">
        <ul class="pagination">
          <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
        </ul>
      </div> -->
      <!-- /pagination -->

    </div>
    <!-- /left content -->


    <!-- Right sidebar component -->
    <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

      <!-- Sidebar content -->
      <div class="sidebar-content">

        <!-- Find course -->
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <span class="text-uppercase font-size-sm font-weight-semibold">Find course</span>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>

          <div class="card-body">
            <form class="mb-3" action="#">
              <div class="form-group form-group-feedback form-group-feedback-right">
                <input type="search" class="form-control" placeholder="Type and hit Enter">
                <div class="form-control-feedback">
                  <i class="icon-search4 font-size-base text-muted"></i>
                </div>
              </div>
            </form>

            <form action="#">
              <div class="form-group">
                <div class="font-size-xs text-uppercase text-muted mb-3">Categories</div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Development
                    <span class="text-muted ml-1">(83)</span>
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Design
                    <span class="text-muted ml-1">(92)</span>
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Management
                    <span class="text-muted ml-1">(36)</span>
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-input-styled" data-fouc>
                    Finances
                    <span class="text-muted ml-1">(50)</span>
                  </label>
                </div>
              </div>





              <button type="submit" class="btn bg-blue btn-block">
                <i class="icon-filter4 mr-2"></i>
                Filter
              </button>
            </form>
          </div>
        </div>
        <!-- /find course -->


        <!-- Categories -->
        <div class="card">
          <div class="card-header bg-transparent header-elements-inline">
            <span class="text-uppercase font-size-sm font-weight-semibold">Categories</span>
            <div class="header-elements">
              <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
              </div>
            </div>
          </div>

          <div class="card-body p-0">
            <div class="nav nav-sidebar mb-2">
              <li class="nav-item-header font-size-xs text-uppercase">Development</li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Frontend development
                  <span class="badge badge-secondary badge-pill ml-auto">37</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Backend development
                  <span class="badge badge-secondary badge-pill ml-auto">58</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Engineering
                  <span class="badge badge-secondary badge-pill ml-auto">39</span>
                </a>
              </li>

              <li class="nav-item-header font-size-xs text-uppercase">Design</li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Interface design
                  <span class="badge badge-secondary badge-pill ml-auto">21</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  User experience
                  <span class="badge badge-secondary badge-pill ml-auto">10</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  Web design
                  <span class="badge badge-secondary badge-pill ml-auto">26</span>
                </a>
              </li>
            </div>
          </div>
        </div>
        <!-- /categories -->







      </div>
      <!-- /sidebar content -->

    </div>
    <!-- /right sidebar component -->

  </div>
  <!-- /inner container -->

</div>
<!-- /content area -->



<!-- Course preview modal -->
<div class="modal fade" id="course_preview" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Course preview</h6>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="yurl" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>
<!-- /course preview modal -->
