<!-- Content area -->
<div class="content">

    <!-- Customers -->
    <div class="card">
      <div class="card-header header-elements-inline">
        <h6 class="card-title"><i class="icon-stats-growth2 icon-2x"></i>  Path</h6>
        <div class="header-elements">
            <button type="button" data-toggle="modal" data-target="#modal_form_vertical" class="btn bg-teal-400 btn-labeled btn-labeled-left rounded-round"><b><i class="icon-stats-growth2"></i></b> Add Path</button>
          <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                  </div>
                </div>
      </div>

      <div class="card-body">
          <div class="loader-container" *ngIf="waiting">
              <ul-loader [loaderSize]="'150px'"></ul-loader>
            </div>
        <table *ngIf="!waiting" class="table table-striped text-nowrap table-customers">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Path Name</th>
                  
                  <th>Date Created</th>
                  
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let item of paths; let i=index">
                  <td>{{i + 1}}</td>
                  
                  <td><a href="#">{{item.pathname}}</a></td>
                  <td>{{item.created_at}}</td>
                  
                 
                <td class="pl-0">cecercer</td>
                </tr>
              </tbody>
            </table>
      </div>

    </div>
    <!-- /customers -->

  </div>
  <!-- /content area -->
  <div id="modal_form_vertical" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Path</h5>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>

          <form [formGroup]="pathform" (ngSubmit)="createPath()">
            <div class="modal-body">
                <div class="col-md-12">
                                 
                    <div *ngIf="errorText" class="alert alert-danger"><i class="fa fa-times"></i> {{errorText}}</div>
                  </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group" [ngClass]="{'has-error': pathform.get('pathname').errors && pathform.get('pathname').touched}">
                    <label>Path name</label>
                    <input type="text" formControlName="pathname" placeholder="Path Name" class="form-control">
                       
                    <small class="help-block text-danger" *ngIf="pathform.get('pathname').hasError('required') && pathform.get('pathname').touched">
                        This field can't be blank
                      </small>
                      </div>
                  </div>

                  <div class="col-sm-12">
                    <label>Description</label>
                    <input type="text" formControlName="description" placeholder="Path Description" class="form-control">
                  </div>
                </div>
              </div>

             
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
              <button type="submit" [disabled]="!pathform.valid" class="btn bg-primary">Submit form</button>
            </div>
          </form>
        </div>
      </div>
    </div>