	<!-- Main sidebar -->
  <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
      <a href="#" class="sidebar-mobile-main-toggle">
        <i class="icon-arrow-left8"></i>
      </a>
      Navigation
      <a href="#" class="sidebar-mobile-expand">
        <i class="icon-screen-full"></i>
        <i class="icon-screen-normal"></i>
      </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

      <!-- User menu -->
      <div class="sidebar-user">
        <div class="card-body">
          <div class="media">
            <div class="mr-3">
              <a href="#"><img src="../../../../global_assets/images/demo/users/face11.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
            </div>

            <div class="media-body">
              <div class="media-title font-weight-semibold">{{profile.name}}</div>
              <div class="font-size-xs opacity-50">
                <i class="icon-pin font-size-sm"></i> &nbsp;{{profile.email}}
              </div>
            </div>

            <div class="ml-3 align-self-center">
              <a href="#" class="text-white"><i class="icon-cog3"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- /user menu -->


      <!-- Main navigation -->
      <div class="card card-sidebar-mobile">
        <ul class="nav nav-sidebar" data-nav-type="collapsible"  >

          <!-- Main -->
          <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main </div> <i class="icon-menu" title="Main"></i></li>
         
          <li class="nav-item nav-item-submenu"  routerLinkActive="active-link active" *ngFor="let item of links">
            <a  routerLink="{{item.link}}" class="nav-link" routerLinkActive="active-link active"><i class="{{item.class}}"></i> <span>{{item.linkname}}</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="{item.linkname}" *ngIf="item.sub?.length > 0">
              <li class="nav-item" *ngFor="let innerlink of item.sub">
                <a routerLink="{{item.link}}" class="nav-link active">{{innerlink.linkname}}</a>
              </li>
             
            </ul>
          </li>
         
         
       
          <!-- /page kits -->

        </ul>
      </div>
      <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->
    
  </div>
  <!-- /main sidebar -->
