<div class="content">
    <div class="mb-3">
        <h6 class="mb-0 font-weight-semibold">
         Admin Dashboard
        </h6>
        <marquee><span class="text-muted d-block">Welcome Admin!!! </span></marquee>
      </div>

      <div class="row">
					<div class="col-sm-6 col-xl-3">
						<div class="card card-body">
							<div class="media">
								<div class="mr-3 align-self-center">
									<i class="icon-users icon-3x text-success-400"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="font-weight-semibold mb-0">{{counter?.mentors}}</h3>
									<span class="text-uppercase font-size-sm text-muted">Mentors</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3">
						<div class="card card-body">
							<div class="media">
								<div class="mr-3 align-self-center">
									<i class="icon-user icon-3x text-indigo-400"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="font-weight-semibold mb-0">{{counter?.students}}</h3>
									<span class="text-uppercase font-size-sm text-muted">Students</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3">
						<div class="card card-body">
							<div class="media">
								<div class="media-body">
									<h3 class="font-weight-semibold mb-0">{{counter?.courses}}</h3>
									<span class="text-uppercase font-size-sm text-muted">Courses</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-file-text icon-3x text-blue-400"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-xl-3">
						<div class="card card-body">
							<div class="media">
								<div class="media-body">
									<h3 class="font-weight-semibold mb-0">{{counter?.paths}}</h3>
									<span class="text-uppercase font-size-sm text-muted">Paths</span>
								</div>

								<div class="ml-3 align-self-center">
									<i class="icon-stats-growth2 icon-3x text-danger-400"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
</div>
