/* You can add global styles to this file, and also import other style files */
@import "~animate.css/animate.min.css";

router-outlet~* {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
