<div class="content">

    <!-- Horizontal form options -->
    <div class="row">
      <div class="col-md-8 col-offset-2">
        <!-- Basic layout-->
        <div class="card">
          <div class="card-header bg-info text-white header-elements-inline">
            <h5 class="card-title">Basic layout</h5>
            <div class="header-elements">
              <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                      </div>
                    </div>
          </div>

          <div class="card-body">
            <form action="#">
             
               
              <div class="form-group row">
                <label class="col-lg-3 col-form-label">Select Student</label>
                <div class="col-lg-9">
                  <select class="form-control"> 
                  </select>
                </div>
              </div>
              <hr/>

              <div class="form-group row">
                  <label class="col-lg-3 col-form-label">Select Mentor</label>
                  <div class="col-lg-9">
                    <select class="form-control"> 
                      <option>Select from the list of mentors</option>
                      <option *ngFor="let mentor of mentors" value="{{mentor.id}}">{{mentor.user.name}} - {{mentor.path.pathname}}</option>
                    </select>
                  </div>
                </div>

               
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Submit form <i class="icon-paperplane ml-2"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- /basic layout -->

      </div>

    
    </div>
    <!-- /vertical form options -->


   


 

 

  </div>