

<div class="container-fluid">

  <form [formGroup]="changePasswordForm"  (ngSubmit)="changePassword()" >

    <div class="row">

      <p *ngIf="message" [class]="errortype === 'success' ? 'alert alert-success': 'alert alert-danger'">{{message}}</p>
      <div class="col-xs-12">
        <div class="row col-md-12">

          <div class="col-lg-12 ">
            <div class="form-group" [ngClass]="{'has-error': changePasswordForm.get('currentpassword').errors && changePasswordForm.get('currentpassword').touched}">
              <label class="form-label">Current Password</label>
              <div class="controls">
                <input type="password"  class="form-control" formControlName="currentpassword"  placeholder="Current Password">
                <small class="help-block" *ngIf="changePasswordForm.get('currentpassword').hasError('required') && changePasswordForm.get('currentpassword').touched">
                  Password field is required
                </small>

              </div>
            </div>
          </div>
        </div>
        <div class="row col-md-12">
          <div class="col-lg-12">
            <div class="form-group" [ngClass]="{'has-error': changePasswordForm.get('password').errors && changePasswordForm.get('password').touched}">
              <label class="form-label">New Password</label>
              <div class="controls">
                <input type="password" placeholder="New Password " class="form-control" formControlName="password">
                <span class="help-block" *ngIf="changePasswordForm.get('password').hasError('required') &&  changePasswordForm.get('password').touched">
                                          This field can't be blank
                                        </span>
                <small class="help-block" *ngIf="changePasswordForm.get('password').hasError('invalidPassword') &&  changePasswordForm.get('password').touched">
                  Password must contain at least one Uppercase letter, digits and special character (@1!#$)
                </small>


              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group" [ngClass]="{'has-error': changePasswordForm.get('confirmpassword').errors && changePasswordForm.get('confirmpassword').touched}">
              <label class="form-label">Confirm Password</label>
              <div class="controls">
                <input type="password" placeholder="Confirm Password " class="form-control" formControlName="confirmpassword">
                <span class="help-block" *ngIf="changePasswordForm.get('confirmpassword').hasError('required') &&  changePasswordForm.get('confirmpassword').touched">
                                          This field can't be blank
                                        </span>
                <small class="help-block text-danger" *ngIf="changePasswordForm.errors?.mismatch">
                  Password do not match
                </small>
              </div>
            </div>
          </div>

        </div>

        <div class="pull-left">
          <h4><i class="fa fa-info-circle color-primary complete f-s-14"></i><small>Choose a very strong password</small></h4>
        </div>
        <div class="pull-right">
          <button type="submit" [disabled]="changePasswordForm.status === 'INVALID'" class="btn btn-primary btn-corner right15"><i class="fa fa-check"></i> Submit</button>

        </div>



      </div>

    </div>
  </form>
</div>



