<div class="col-lg-12 col-md-12 col-xs-12">
  <div class="alert alert-warning alert-dismissible fade in">
  <div [innerHtml]="message | safeHtml"></div>
    <p>
      <button type="button" (click)="setUp()" class="btn btn-primary">Proceed</button>
    </p>
  </div>
</div>
