.custom-spinner {
    background-image: url("../../../../assets/images/loader/rolling.svg");
     background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: block;
      margin:auto;
    }
    