<div [class]="type ? 'alert bg-success alert-dismissible': 'alert bg-danger alert-dismissible'" role="alert">
  <button type="button" class="close " data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
  <strong><i [class]="type ? 'fa fa-check': 'fa fa-exclamation-triangle'"></i></strong> {{message}}
</div>
